.pokemon
    {
        margin-top: 1rem;
        flex-basis: 20%;
        height: 500px;
        width: 600px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
.pokemon-name
    {
        font-size: 29px;
        color: red;
        font-weight: bolder;
        text-shadow: 1px 1px 1px black;
        letter-spacing: 2px;
    }
.pokemon-img
    {
        margin-top: 1.25rem;
    }
    .pokemon-img:hover 
    {
        background-color: rgb(252, 168, 66);
        cursor: pointer;
    }