.pokemon
    {
        margin-top: 1rem;
        flex-basis: 20%;
        height: 300px;
        width: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        background-color: yellow;
    }
    .pokemon:hover 
    {
        background-color: bisque;
        cursor: pointer;
    }
.pokemon-name
    {
        font-size: 25px;
        color: red;
        font-weight: bolder;
        text-shadow: 1px 1px 1px black;
        letter-spacing: 2px;
    }
.pokemon-img
    {
        margin-top: 0.5rem;
        height: 1vw; 
        max-height: 10%;
    }