.search-wrapper 
    {
        width: 60%;
        height: 5rem;
        margin: 2.5rem auto;
        background-color: rgb(123, 220, 245);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

#pokemon-name-search 
    {
        width: 98%;
        height: 4rem;
        margin: 0.5rem auto;
        padding: 1rem;
        background-color: whitesmoke;
        border: none;
        border-radius: 15px;
        font-size: 20px;
        color: blue;
    }

#pokemon-name-search:focus 
    {
        outline: none;
    }