.search-wrapper 
    {
        width: 60%;
        height: 5rem;
        margin: 2.5rem auto;
        background-color: rgb(187, 218, 210);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

#pokemon-name-search 
    {
        width: 96%;
        height: 4rem;
        margin: 0.5rem auto;
        padding: 1rem;
        background-color: rgb(224, 211, 195);
        border: none;
        border-radius: 18px;
        font-size: 20px;
        color: blue;
    }

#pokemon-name-search:focus 
    {
        outline: none;
    }